html, body, #map{
	padding:0;
	margin:0;
	width:100%;
	height: 100%;
}
#map{
	position: absolute;
	top:0;
}
#map:after {
	content: " ";
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0.25em #000;
	border-right: 1px solid #000;
	width: 20%;
	min-width: 280px;
	height: 100%;
	position: absolute;
}
body{
	background: #fefefe;
	font-family: Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
label{
	font-size: 1.15em;
	color: #fff;
}
.navbar{
	position: absolute;
	top:0;
	left:0;
}
.leaflet-control-zoom{
	display: none;
}
.overlay{
	position: absolute;
	top:30px;
	left:0;
	/*background: #eee;*/
	padding:20px 30px 5px 15px;
}
.overlay p {
	color: #fff;
}
header{
	padding:8px 10px;
	position: absolute;
	top:0;
}
header h1, 
header h2{
	font-weight: 300;
	font-size: 2.1em;
	line-height: 1em;
	margin:0;
	padding:0;
	color:#fff;
}
header h2{
	font-weight: 400;
	font-size: 1.1em;
	letter-spacing: 1.5px;	
	padding: 2px 0 0 5px;
}
body.home .overlay{
	background: none;
	left:0;
	transition: left 0.4s ease;
}
body.home .overlay.hide{
	display: block;
	left:-410px;
}
body.home .subjects{
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background: #333;*/
}
body.home .subjects .maths{
	background-color: rgb(51, 153, 51);
}
body.home .subject{
	color: #fefefe;
	background-color: rgb(204, 51, 0);

	opacity: 0.8;
	transition: opacity 1s ease;
}
body.home .subject:hover{
	opacity: 1;	
}
body.home .subject h2{
	padding: 0px 15px;
	display: inline-block;
	font-size: 1.7em;
}
body.home .french h2{
}
body.home .french {
	background-color: rgb(0,85,164);
}
body.home .french span{
	color:rgb(250,60,50);
}
.french .flag {
	display: none;
}
.french .flag,
.french .flag div
{
	display: inline-block;
	height: 100%;
}
.french .flag div{
	width: 30px;	
}
.french .flag .red{   background: rgb(250,  60,  50); }
.french .flag .white{ background: rgb(255, 255, 255); }
.french .flag .blue{  background: rgb(  0,  85, 164); }

/* bootstrap tweaks */
input[type="text"].input-large{
	/*font-size: 1.6em;*/
	line-height: 1.6em;
	height: 34px;
}
.photo-icon{
	background: #555;
	border:solid white 4px;	
}
.photoFrame{
	display: inline-block;
	width:200px;
	height:200px;
	background: #555;
	border:solid white 10px;
	color:#CCC;
	text-align: center;
	line-height: 200px;
}
.leaflet-popup-content .photoFrame{
	height: auto;
}
.leaflet-popup-content .photoFrame img{
	width:inherit;
}

.tutor h1 span{
	color:#000;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 2px;	
}
.strapline{
	display: none;
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
 	body.home .strapline{
		display: block;
	}

	.overlay{
		top:100px;
	} 
	
	#map:after {
		min-width: 350px;
	}
}