---
title: Tutor Wire
bodyClass: home
---
{{> map-mapbox }}
<header>
	<hgroup>
	<h1>TutorWire</h1>
	<h2 class="strapline">Find tutors, fast.</h2>
	</hgroup>
</header>
<div class="overlay hide">
	<form id="searchForm">
		<label>Find someone to help you learn</label>
		<div class="input-append">
			<input tabindex="1" id="subject" type="text" name="subject" autocomplete="off" data-provide="typeahead" data-source='{{> subjects }}'>
			<button id="search" class="btn" type="button" title="Browse subjects"><span class="caret"></span></button>
		</div>

		<label>Near</label>
		<div class="input-append">
			<input tabindex="2" id="place" type="text" name="place" autocomplete="off" data-provide="typeahead">
			<button id="findme" class="btn" type="button" title="Look up current location"><i class="icon icon-screenshot"></i> Find me</button>
		</div>
		<div>
			<label>&nbsp;</label>
			<button id="find" tabindex="3" class="btn">Find tutors</button>
		</div>
	</form>
</div>
<!-- <div class="subjects">
	<div class="subject maths">
		<h2>Learn Maths</h2>
	</div>
	<div class="subject guitar">
		<h2>Learn Guitar</h2>
	</div>
	<div class="subject french">
		<h2>Learn French</h2>
	</div>
</div> -->
<script src="{{assets}}/js/uk-cities.js"></script>
<script>
function initPage () {
	
	$('#subject').on('change', search);

	$('#searchForm').submit(search);

	$('#search').click(search);

	$('#find').click(search).hide();
	
	$('#findme').click(function () {
		app.locateUser(function(location){
			app.showUserMarker(location);
			$('#place').val(location.name);
		});
	})

	$('.hide').removeClass('hide');

	var magicSearch = 'Maths';

	setTimeout(function () {
		type(magicSearch, 
			function (chars) { $('#subject').attr('placeholder', chars) }, 
			function (word)  { 
				type('UK', 
					function (chars) { $('#place').attr('placeholder', chars) },
					function (word)  { 
						// app.getTutorsBySubject(magicSearch, function (err, tutors) {
						// 	app.showTutorsOnMap(tutors);
						// })
						$('#subject').focus();
					}
				)	
			}
		)
	}, 500);

	// sync map with the place
	var place = $('#place');

	place.typeahead({ source: app.uk.getCityNames });

	place.on('change', function(evt){

		var name = $(this).val();
		var coords = app.uk.cities[name];

		console.log('Place changed', name, coords) 

		if (!coords){
			console.log('Geocoding', name);
			
			app.geocoder().query(name, function(err, response){
				if (err) { return console.error(err) }				
				console.log('Geocoded', name, response);
				var latlng = response.latlng
				showPlace(name, {lat: latlng[0], lng: latlng[1]}); // latlng is an array
			});

		} else {

			showPlace(name, coords) // coords is an object
		}
	});

	function showPlace (name, coords) {
		console.log('Showing', name, coords);		
		app.location = {
			name: name,
			coords: app.normalizeCoords(coords)
		}
		app.showUserMarker(app.location);
	}	
}

function search(event){
	event.preventDefault();
	var subject = $('#subject').val();
	app.getTutorsBySubject(subject, function (err, tutors) {
		app.showTutorsOnMap(tutors);
	});
}

function type (word, cb, done) {
	var index = 1;
	var interval = setInterval(function () {
		
		cb(word.substring(0, index));
		
		index++
		
		if (index > word.length) {
			clearInterval(interval)
			if ($.isFunction(done)){
				done(word);
			}
		}
	}, 100);
}

$(document).ready(initPage)


</script>