<div id="map"></div>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css">
<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script>
var map;

(function initMap() {

	map = L.map('map').setView([55,-10], 6);

	// L.tileLayer("http://{s}tile.stamen.com/toner-2011-lite/{z}/{x}/{y}.png", {
	// 	"minZoom":      0,
	// 	"maxZoom":      20,
	// 	"subdomains":   ["", "a.", "b.", "c.", "d."],
	// 	"scheme":       "xyz"
	// }).addTo(map);
				
	L.tileLayer("http://{s}.tiles.mapbox.com/v3/tutorwire.map-rbl1tiup/{z}/{x}/{y}.png", {
		"minZoom":      0,
		"maxZoom":      19,
		"subdomains":   ["a", "b", "c", "d"],
		"scheme":       "xyz"
	}).addTo(map);

	return map;
})();

</script>