<div id="map"></div>
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]><link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.ie.css' rel='stylesheet' /><![endif]-->
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.3/mapbox.js'></script>

<script src='{{assets}}/js/leaflet.awesome-markers.js'></script>
<link href='{{assets}}/css/leaflet.awesome-markers.css' rel='stylesheet' />

<script>
var map;

(function initMap() {

	map = app.map = L.mapbox.map('map', 'tutorwire.map-rbl1tiup',{
		attributionControl: false,
		minZoom: 6
		// scrollWheelZoom: false
	});

	map.setView([55,-6], 6);

	return map;

})();
</script>