<nav>
	<ul class="nav">
		<li class="home">
			<a href="/">Home</a>
		</li>
		<li class="find">
			<a href="/find">Find</a>
		</li>
		<li class="join">
			<a href="/join">Join</a>
		</li>
	</ul>
</nav>