---
title: Learn
bodyClass: learn
---
{{> nav }}
<div id="map"></div>
<div class="overlay">
	<h1>Learn </h1>
	<input id="subject" type="text" class="input-large" name="subject" id="subject" autocomplete="off">
	<h1>Near</h1>
	<input id="place" type="text" class="input-large" name="subject" id="subject" autocomplete="off" placeholder="UK">	
</div>